header {
    height: 30px;
}

.navPane {
    width: 100%;
    background: darkblue;
    color: ghostwhite;
    float: left;
    border: none;
    top: 0;
    position: fixed;
}

.myName {
    margin-left: 20%;
}

.navPane a:link {
    color: ghostwhite;
}

.navPane a:visited {
    color: orchid;
}

nav {
    float: right;
    margin-right: 30px;
}

.body {
    margin-left: 220px;
}

.mainContent {
    width: 100%;
}