
.navPane {
    width: 100%;
    background: darkblue;
    color: ghostwhite;
    float: left;
    border: none;
    top: 0;
    position: fixed;
}

.navPane p {
    margin-left: 20%;
}

.navPane a:link {
    color: ghostwhite;
}

.navPane a:visited {
    color: orchid;
}

.navPane span {
   margin-left: 60%;
}

.body {
    margin-left: 220px;
}

.mainContent {
    width: 100%;
}