h3 { margin-top: 0; }
h4 { margin-top: 6px !important; }
.top-margin { margin-top: 50px; }
input[type=text], button { border: black 1px solid; }
select {
    width:200px !important;}
.clicky {
    min-width: 100px;
}
.ridiculous {
    margin-right: 10px !important;
    padding-right: 10px !important;
}